@model PasteBookEntity.USER


<div class="well">
    <div id="headerContainer">
        <div class="container-fluid">
            <p id="profileName">@Model.FIRST_NAME @Model.LAST_NAME</p>
            @Html.ActionLink("Fiends", "Friends", "Friend", new { id = "userFriend" })
            <button type="button" id="addAsFriend" class="btn btn-default pull-right friendbutton">Add as friend</button>
            <button type="button" id="requestAdd" class="btn btn-default pull-right friendbutton" disabled>Friend request sent</button>
            <span class="btn" id="friendsTrue">Friends <span class="glyphicon glyphicon-ok"></span></span>
            <div class="dropdown pull-right">
                <button class="btn dropdown-toggle" type="button" id="confirmRequest" data-toggle="dropdown">Confirm friend request</button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="confirmRequest">
                    <li role="presentation"><a id="ConfirmRequest">Confirm</a></li>
                    <li role="presentation"><a id="DeleteRequest">Delete Request</a></li>
                </ul>
            </div>
        </div>
    </div>
    
</div>