.dropdown-notification-container{
    max-height: 25px;
    white-space: nowrap;
    /*ord-wrap: break-word;*/
    overflow: hidden;
    padding: 5px 5px 5px 15px;
    text-overflow:ellipsis;
}
.list-notification-container{
    padding: 15px 10px 15px 10px !important;
    border-bottom: solid 1px #eee !important;
}
#seeNotifContainer{
    text-align:center!important;
}

.alert{
    text-align:center;
}

.title-container{
    border-bottom: 1px solid #eee;
    padding-bottom:15px;
    margin-bottom:15px; 
}

.form-title{
    font-size:25px;
    color:#2faced;    
}
#postContent{
    font-size: 18px;
    word-wrap: break-word;
    overflow: hidden;
    margin-bottom:10px;
}

.comment-item, #commentContent{
    margin-bottom:10px;
}

.about-me-container{
    word-wrap: break-word;
    overflow: hidden;
}
#errorLogin{
    color: #fff;
}
#aboutMeContainer{
    word-wrap: break-word;
}
#userPostDisplayName{
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 250px;
}
.like-container{
    padding: 5px 0px 10px 0px;
}

.glyphicon-chevron-right{
    font-size:small;
    margin-bottom: 10px;
}

.well{
    padding: 10px 0px 10px 0px !important;
}

.poster-container{
    font-size:20px;
    word-wrap:break-word;
    overflow-wrap:break-word;
    max-width:inherit;
    display:inline-block;
}
.comment-content-container{
    word-wrap: break-word;
    overflow: hidden;
    border: solid 2px #fff;
    background-color: #fff;
    border-radius: 5px 5px;
    padding: 5px 5px 5px 5px;
}
#profileLongNameContainer{
    word-wrap: break-word;
    overflow: hidden;
    width: 700px;
}
#profileNameContainer{
    word-wrap: break-word;
    overflow: hidden;
    width: 700px;
}


#userName{
    font-size:20px;
    font-weight:700;
}

.badge{
    background-color: #dc1426 !important;
    color: #fff !important;
}
#nameContainer{
    text-overflow:ellipsis;
    overflow-x:hidden;
    overflow-y:hidden;
    height:20px;
    width: 150px;
}
.scrollable-menu {
    height: auto;
    max-height: 450px;
    overflow-x: hidden;
}
#notificationDropdown{
    width: 400px !important;
}

#menuRequest {
    width: 400px !important;
}
.post-link-container{
    word-wrap: break-word;
    overflow: hidden;
    max-height: 40px;
    height:40px;
}
.dropdown-menu {
    width: 150px;
}
#renderedPart{
    margin-top: 30px;
}
.navbar{
    padding: 5px 20px 10px 10px;
    background-color:#04519b;
    background-image:none;
}
.label-login{
    font-size: 13px;
    font-weight: 100;
    color:#fff!important;
}
.login-text-danger{
    color:#dc1426;
    font-weight: 600!important;
}
#btnLogin{
    font-size: 15px;
    font-weight: 100;
    padding: 1px 10px 10px 10px;
    height: 26px;
}
.input-login{
    height: 25px;
    padding: 0px 0px 0px 10px;
}
 /*for the search bar - start*/
#searchFriend{
     color: #000;
 }
.left-addon input  { 
    width:1000px;
}
#searchContainer{
    width: 500px;
}

#searchPart{
    margin-top: 10px;
}
/*for the search bar - end*/

#userDivider, #profileOwner{
    display: none;
    
}
#userDivider{
    margin: 0px 10px 0px 10px;
}

textarea.form-control{
    resize: none;
    max-width: inherit;
}
#homeProfilePic{
    position: absolute;
    margin: auto;
    width: 100px;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
}
#imageContainer{
    width: 100px;
    height: 100px;
    border: 1px solid #dae0ea;
    overflow: hidden;
    margin: 10px;
    position: relative;
}
#homeProfileName, #editUser, #userHomeFriend{
    margin-left: 10px;
    color: #000;
}

#posterName{
    font-size: 15px;
    font-weight: 400;
}
#postDate{
    font-size: 11px;
    color: #90949c;
}

.notif-link{
    padding: 10px 0px 10px 0px;
}
#settingsMenu, #notificationList, #friendRequest{
    background-color: #04519b;
    border:none;
    padding-top:10px;
}
.caret, .glyphicon-globe{
    color:#000000;
}
.glyphicon-globe{  
    padding-left:20px;
    padding-top: 3px; 
    padding-bottom: 15px; 
    font-size:18px;
}
.caret{
    margin-top:10px;
    padding-bottom:20px;
    margin-left:20px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #000000;
}
/*for the post part - end*/

/*for the profile part - start */
.btnLike,.btnUnLike{
    color:#5ca4e8;
    background-color: #f5f5f5 !important;
}

#profilePic{
    position: absolute;
    margin: auto;
    width: 340px;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
}
#imageProfileContainer{
    width: 350px;
    height: 350px;
    border: 1px solid #dae0ea;
    overflow: hidden;
    margin: 0px 10px 10px 0px;
    position: relative;
}
#profileName{
    font-size: 30px;
    font-weight:600;
}
#profileLongName{
    font-size: 22px;
    font-weight:600;
}
#infoContainer{
    width:350px;
}
/*for the friend part - start */
/*#addAsFriend,#requestAdd,#dropdownRequest,#friendsTrue{
    display:none;
}*/
#userFriend{
    display:none;
}
#userFriend{
    margin-left:0px;
    color: #000;
}
#imageFriendContainer{
    width: 150px;
    height: 150px;
    border: 1px solid #dae0ea;
    overflow: hidden;
    margin: 0px 10px 10px 0px;
    position: relative;
}
.container-fluid{
    /*padding-left: 0px;*/
}
#friendContainer{
    border: 1px solid #dae0ea;
}
#friend{
    padding: 20px;
}
#friendOption{
    padding: 3px 10px 3px 10px;
}

/*for search part - start */
#friendName, #viewProfile{
    margin-top: 10px;
}

.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}










































