@model IEnumerable<PasteBookEntity.USER>

@foreach (var item in Model)
{
    <ul>
        <li>@Html.ActionLink(item.FIRST_NAME + " " + item.LAST_NAME, "UserProfile", new { username = item.USER_NAME })</li>
    </ul>
    
}
